/* The animation code */
@keyframes slide-in-name-anim {
    from {left: -99%;}
    to {left: 30%;}
}

/* The animation code */
@keyframes slide-in-name-anim-two {
    from {left: 200%;}
    to {left: 45%;}
}

#base-background{
    overflow-x: hidden;
    font-family: "bebas_neueregular";
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, #2E0854, #001F3F);
}

#name-intro{
    color: whitesmoke;
    font-weight: 400;
    font-size: 28px;
    display: grid;
    place-items: center;
    align-content: center;
    animation-name: slide-in-name-anim;
    animation-duration: 1s;
}

#name-intro-two{
    color: orange;
    display: grid;
    place-items: center;
    align-content: center;
    font-weight: 400;
    font-size: 28px;
    animation-name: slide-in-name-anim-two;
    animation-duration: 1s;
}

#intro{
    position: relative;
    margin-top: 20%;
}

#about-me-header{
    display: grid;
    place-items: center;
    align-content: center;
    margin-top: 20%;
    font-size: 28px;
    color: whitesmoke;
}

#about-me{
    font-size: 22px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    color: whitesmoke;
}


@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hiddentwo{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(50%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


#projects-header {
    display: grid;
    place-items: center;
    align-content: center;
    margin-bottom: 5%;
    font-size: 28px;
    color: whitesmoke;
}

#container-projects{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

#container-projects #projects-items {
    width: 200px;
    height: 200px;
    text-align: top;
    margin: 2px;
    color: whitesmoke;
}
